<app-layout (scroll)="layoutScroll()" [menuItems]="menuItems" [lang]="'ENGLISH'">
    <app-banner></app-banner>
    <app-about [title]="aboutTitle" [headTitle]="aboutHeadTitle" [headContent]="aboutHeadContent"
        [contactDataGroup]="aboutContactDataGroup"></app-about>
    <app-portfolio [title1]="portfolioTitle1" [descrp1]="portfolioDescrp1" [descrp2]="portfolioDescrp2"
        [folios]="portfolioFolios" [timelineDatas]="portfolioTimelineDatas"></app-portfolio>
    <app-personality [title]="personalityTitle" [personalities]="personalityPersonalities"></app-personality>
    <app-resume [title]="resumeTitle" [trees]="resumeTrees"></app-resume>
    <app-contribute [title]="contributeTitle" [contributes]="contributeContributes"></app-contribute>
    <app-contact [title]="contactTitle" [formGuide]="contactFormGuide" [formSubmitError]="contactFormSubmitError"
        [formSubmitMessage]="contactFormSubmitMessage"></app-contact>
</app-layout>