@import 'util';

.contribute {
    &__head+&__body {
        margin-top: 50px;
    }
}

.contribute-group {
    $gap: 20px;
    @include fixed-gutter-flex-grid($column-gutter: $gap, $column-number: 4, $min-screen-width: $screen-bs-large+1);
    @include fixed-gutter-flex-grid($column-gutter: $gap/2, $column-number: 2, $min-screen-width: $screen-normal-phone-portrait+1, $max-screen-width: $screen-bs-large);
    @include fixed-gutter-flex-grid($column-gutter: $gap/2, $column-number: 1, $max-screen-width: $screen-normal-phone-portrait);
}

.contribute-card {
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow:
        1.6px 1.2px 3.6px rgba(0, 0, 0, 0.024),
        4.4px 3.3px 10px rgba(0, 0, 0, 0.035),
        10.6px 7.8px 24.1px rgba(0, 0, 0, 0.046),
        35px 26px 80px rgba(0, 0, 0, 0.07);

    @include rwd($screen-bs-large) {
        padding: 15px;
    }

    &__img {
        height: 50px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;

        img {
            height: 100%;
        }
    }

    &__img+&__title {
        margin-top: 20px;

        @include rwd($screen-bs-large) {
            margin-top: 10px;
        }
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    &__title+&__content {
        margin-top: 20px;

        @include rwd($screen-bs-large) {
            margin-top: 10px;
        }
    }

    &__content {
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: left;
        font-weight: 400;
        color: $dark-gray;
    }
}