<div class="contribute section ">
    <div class="section__inner section__inner--wide">
        <div class="contribute__head">
            <div class="section__name">contribute</div>
            <h1 class="section__title">What Can I Do For You?</h1>
        </div>
        <div class="contribute__body">
            <div class="contribute-group">
                <div class="contribute-group__item contribute-card">
                    <div class="contribute-card__img">
                        <img draggable="false" src="assets/images/contribute-frontend.svg">
                    </div>
                    <h2 class="contribute-card__title">Frontend Developer</h2>
                    <div class="contribute-card__content">
                        身為一個前端工程師，當然會具有基本的前端技能，例如HTML/CSS/JS/API串接,...etc.
                    </div>
                </div>
                <div class="contribute-group__item contribute-card">
                    <div class="contribute-card__img">
                        <img draggable="false" src="assets/images/contribute-artist.svg">
                    </div>
                    <h2 class="contribute-card__title">Technical<br>Artist</h2>
                    <div class="contribute-card__content">
                        我對於我自己在網頁前端產業的定位比較接近於遊戲產業中的技術美術，儘管在目前的業界並沒有像這樣的職稱。
                    </div>
                </div>
                <div class="contribute-group__item contribute-card">
                    <div class="contribute-card__img">
                        <img draggable="false" src="assets/images/contribute-consultant.svg">
                    </div>
                    <h2 class="contribute-card__title">Web FX Consultant</h2>
                    <div class="contribute-card__content">
                        在我服務過的單位中，我常常提供美術端諮詢並討論如何實作特效內容。
                        <br>
                        除此之外我還很擅長在沒有UIUX精稿的狀態下自行規劃設計與樣式。
                    </div>
                </div>
                <div class="contribute-group__item contribute-card">
                    <div class="contribute-card__img">
                        <img draggable="false" src="assets/images/contribute-library.svg">
                    </div>
                    <h2 class="contribute-card__title">Components Library</h2>
                    <div class="contribute-card__content">
                        我有豐富的UI元件庫設計/規劃經驗，曾為公司製作過兩套UI元件庫，以供專案開發使用。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>