<div class="contribute section " id="contribute">
    <div class="section__inner section__inner--wide">
        <div class="contribute__head">
            <div class="section__name">contribute</div>
            <h1 class="section__title">{{title}}</h1>
        </div>
        <div class="contribute__body">
            <div class="contribute-group">
                <div class="contribute-group__item contribute-card" *ngFor="let contribute of contributes">
                    <div class="contribute-card__img">
                        <img draggable="false" [attr.src]="contribute.img">
                    </div>
                    <h2 class="contribute-card__title" [innerHTML]="contribute.title"></h2>
                    <div class="contribute-card__content" [innerHTML]="contribute.content">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>