<div class="about section section--heading">
    <div class="section__inner">
        <div class="about__head">
            <div class="section__name">ABOUT</div>
            <h1 class="section__title">I'm Glad to Introduce Myself.</h1>
        </div>
        <div class="about__body">
            <div class="about__former">
                <div class="about-intro">
                    <div class="about-intro__head">
                        <div class="about-intro__img">
                            <img src="assets/images/logo.png" alt="logo" draggable="false">
                        </div>
                    </div>
                    <div class="about-intro__body">
                        <div class="about-intro__title">Introduction</div>
                        <div class="about-intro__content">
                            I’m just human, I have weakness, I make mistakes and I experience sadness; But I learn from
                            all
                            these things to make me a better person.
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__latter">
                <div class="about-contact-data">
                    <ul class="about-contact-data__ul">
                        <li class="about-contact-data__li about-contact-data-item"
                            *ngFor="let contactDataItem of contactDataGroup">
                            <div class="about-contact-data-item__title">{{contactDataItem.title}}</div>
                            <div class="about-contact-data-item__content" *ngIf="!!contactDataItem.content">
                                {{contactDataItem.content}}</div>
                            <a [attr.href]="contactDataItem.url" class="about-contact-data-item__content"
                                *ngIf="!!contactDataItem.url" target="_blank">{{contactDataItem.url}}</a>
                        </li>
                    </ul>
                </div>
                <div class="about-skill">
                    <ul class="about-skill__ul">
                        <li class="about-skill__li about-skill-item" *ngFor="let skillDataItem of skillDataGroup">
                            <div class="about-skill-item__title">{{skillDataItem.title}}</div>
                            <div class="about-skill-item__percentage skill-percentage">
                                <div class="skill-percentage__inner" [ngStyle]="{width:skillDataItem.percent+'%'}">
                                    <div class="skill-percentage__percent">{{skillDataItem.percent}}%</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>