@import 'util';

.contact-form {
    margin: 0 auto;
    margin-top: 50px;

    @include rwd($screen-normal-phone-portrait) {
        margin-top: 30px;
    }

    &__error {
        color: darken($red, 25%);
        text-align: left;
        display: block;
        margin: 10px 0px;
        padding-left: 10px;
    }

    &__button {
        max-width: 200px;
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__row+&__row {
        margin-top: 20px;


    }

    &__row+&__button {
        margin-top: 50px;

        @include rwd($screen-pad-portrait) {
            margin-top: 30px;
        }
    }

}

.input-block {
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 2px solid $dark-gray;
    margin: 0;
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(10px, 15px);
        display: block;
        margin: 0;
        font-weight: 400;
        z-index: 1;
        color: $dark-gray;
        font-size: 18/16rem;
        line-height: 10px;
        transition: transform 300ms;
        transform-origin: 0 0;

        @include rwd($screen-pad-portrait) {
            font-size: 1rem;
        }
    }

    &__form-control {
        background-color: transparent;
        margin: 0;
        outline: none;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        padding: 40px 10px 20px 10px;
        width: 100%;
        position: relative;
        z-index: 2;
        font-size: 18px;
        color: $dark-gray;
    }

    &__form-control:focus+label,
    &__form-control--hasValue+label {
        transform: translate(10px, 0px) scale(0.85);
    }

    &--textarea {
        height: auto;
    }

    &--textarea &__form-control {
        height: auto;
        resize: none;
    }

}