<div class="contact section section--gray">
    <div class="section__inner">
        <div class="contact__head">
            <div class="section__name">contact</div>
            <h1 class="section__title">I'd Love To Hear From You.</h1>
        </div>
        <div class="contact__body">
            <form action="" class="contact-form">
                <div class="contact-form__row">
                    <div class="contact-form__input-block input-block">
                        <input type="text" class="input-block__form-control">
                        <label for="">您的姓名</label>
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__input-block input-block">
                        <input type="text" class="input-block__form-control">
                        <label for="">Email</label>
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__input-block input-block">
                        <input type="text" class="input-block__form-control">
                        <label for="">主旨</label>
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="contact-form__input-block input-block input-block--textarea">
                        <textarea rows="3" type="text" class="input-block__form-control"></textarea>
                        <label for="">請輸入您的訊息</label>
                    </div>
                </div>
                <div class="contact-form__row">
                    <button class="square-button">SEND</button>
                </div>
            </form>
        </div>
    </div>
</div>