$sideWidth: 300px;
@import 'util';

:host {
    display: block;
}

.layout {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    &__inner {
        display: flex;
        height: 100%;
        transition: transform 500ms;

        >* {
            flex: none;
        }
    }

    &--active &__inner {
        transform:translateX(-#{$sideWidth})
    }

    &__main {
        width: 100%;

        &::ng-deep>* {
            display: block;
            height: 100%;
        }
    }

    &__toggler {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
    }

    &__side {
        width: $sideWidth;
        display: block;
        background-color: $gray;
    }
}