$sideWidth: 300px;
@import 'util';

:host {
    display: block;
}

.layout {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    user-select: none;

    &__inner {
        display: flex;
        height: 100%;
        transition: transform 500ms;
        transform:translateX(-#{$sideWidth});

        >* {
            flex: none;
        }
    }


    &__content {
        width: 100%;
        position: relative;
        z-index: 1;

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 200%;
            height: 100%;
            top: 0;
            background-color: $dark-gray;
            pointer-events: none;
            opacity: 0;
            transition: opacity 500ms;
            z-index: 2;
        }
    }


    &--active &__content::after {
        opacity: 0.75;
        pointer-events: auto;
    }

    &__content &__main {
        height: 100%;
    }

    &__main {
        overflow: hidden;

        &::ng-deep {
            >.scrollbar-track-x {
                display: none !important;
            }

            >canvas {
                pointer-events: none;
                display: none !important;
            }
        }

    }

    &__toggler {
        position: fixed;
        left: $sideWidth;
        top: 0;
        z-index: 2;
    }

    &__side {
        width: $sideWidth;
        display: block;
        position: relative;
        z-index: 2;

        &::ng-deep {
            >* {
                height: 100%;
            }
        }
    }
}