<div class="layout" [class.layout--active]="active" appIsMobile>
    <div class="layout__inner" #inner>
        <app-side-menu class="layout__side" [items]="menuItems" (navigate)="scrollTo($event)" #side></app-side-menu>
        <div class="layout__content">

            <div class="layout__main" #scrollBox>
                <ng-content #main></ng-content>
                <app-footer></app-footer>
            </div>

        </div>
        <button class="layout__toggler hamburger" [class.hamburger--active]="active" (click)="toggle()">
            <div class="hamburger__inner">
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </div>
        </button>
    </div>
</div>