.hamburger {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: $black;
    transform: scale(0.8);
    border-radius: 5px;
    overflow: hidden;

    @include rwd($screen-pad-portrait) {
        transform: scale(0.6)
    }

    &__inner {
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex: none;
        width: 100%;
        height: 100%;
    }

    &__inner &__line {
        flex: none;
    }

    &__line {
        height: 4px;
        background-color: $white;
        border-radius: 4px;
        opacity: 0.75;
        transition: opacity 500ms;

        @include rwd($screen-pad-portrait) {
            background-color: $white;
        }
    }

    &:hover &__line {
        opacity: 1;
    }

    &__line+&__line {
        margin-top: auto;
    }
}