.section {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;

    @include rwd($screen-pad-portrait) {
        padding: 50px 20px;
    }

    &--gray {
        background-color: transparentize($dark-gray, 0.95);
    }

    &--heading {
        padding-top: 120px;

        @include rwd($screen-pad-portrait) {
            padding-top: 100px;
        }
    }



    &__inner {
        max-width: 750px;
        width: 100%;
        position: relative;
        margin: 0 auto;
    }

    &__inner+&__inner {
        margin-top: 50px;
    }

    &__inner--wide {
        max-width: $screen-bs-large;
    }

    &__inner--unlimited {
        max-width: none;
    }

    &__name {
        font-size: 1rem;
        font-weight: 400;
        color: $dark-gray;
    }

    &__name+&__title {
        margin-top: 10px;
    }

    &__title {
        font-size: 2rem;
        padding-bottom: 20px;
        position: relative;
        line-height: 1.5;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            width: 50px;
            height: 2px;
            bottom: 0;
            margin: 0 auto;
            background-color: $dark-gray;
        }
    }

    &__title+&__descrp {
        margin-top: 20px;
    }

    &__descrp {
        font-size: 1rem;
        line-height: 1.5;
        color: $dark-gray;
    }
}