<div class="personality section" id="personality">
    <div class="section__inner section__inner--wide">
        <div class="personality__head">
            <div class="section__name">personality</div>
            <h1 class="section__title">{{title}}</h1>
        </div>
        <div class="personality__body">
            <div class="personality-group">
                <div class="personality-group__item personality-card" *ngFor="let personality of personalities">
                    <div class="personality-card__img">
                        <img draggable="false" [attr.src]="personality.img">
                    </div>
                    <h2 class="personality-card__title">{{personality.title}}</h2>
                    <div class="personality-card__content" [innerHTML]="personality.content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>