<footer class="footer">
    <div class="footer__inner">
        <div class="footer__former">
            <div class="footer__copyright">©Mizok.H 2022</div>
        </div>
        <div class="footer__latter">
            <div class="footer__links">
                <a href="https://www.facebook.com/kuang.huang.18/" class="footer__link">
                    <img src="assets/images/facebook.svg" alt="facebook">
                </a>
                <a href="https://github.com/mizok" class="footer__link">
                    <img src="assets/images/github.svg" alt="github">
                </a>
                <a href="https://twitter.com/MizokStudio" class="footer__link">
                    <img src="assets/images/twitter.svg" alt="twitter">
                </a>
            </div>
        </div>
    </div>
</footer>