<div class="resume section section--gray">
    <div class="section__inner">
        <div class="resume__head">
            <div class="section__name">resume</div>
            <h1 class="section__title">More of My Credentials.</h1>
        </div>
        <div class="resume__body">
            <div class="resume__tree resume-tree" *ngFor="let tree of trees">
                <div class="resume-tree__title">
                    {{tree.title}}
                </div>
                <div class="resume-tree__trunk">
                    <div class="resume-tree__unit" *ngFor="let unit of tree.units">
                        <div class="resume-tree__former">
                            <div class="resume-tree__position-title">{{unit.positionTitle}}</div>
                            <div class="resume-tree__position-descrp">{{unit.positionDescrp}}</div>
                        </div>
                        <div class="resume-tree__middle">
                            <div class="resume-tree__icon">
                                <img draggable="false" [attr.src]="tree.img" alt="middle-image">
                            </div>
                        </div>
                        <div class="resume-tree__latter">
                            <div class="resume-tree__unit-title" *ngIf="!unit?.url">{{unit.unitTitle}}</div>
                            <a [attr.href]="unit?.url" class="resume-tree__unit-title"
                                *ngIf="!!unit?.url">{{unit.unitTitle}}</a>
                            <div class="resume-tree__unit-descrp">{{unit.unitDescrp}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>